<link
  rel="stylesheet"
  href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"
/>
<div class="w-9/12 m-auto dark:text-white">
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>

            <%if(users){%>
                <%for(let usermap of users){%>
                    <%if(user.email!=usermap.email){%>
            <tr>
                <td><%=usermap.name%></td>
                <td><%=usermap.email%></td>
                <td>
                    <a href= "/admin/user-update?id=<%=usermap._id%>">
                        <%=usermap.isAdmin%>
                    </a>
                </td>
                <td>
                    <a href= "/admin/remove-employee?id=<%=usermap._id%>" class="bg-red-700 text-white hover:bg-red-400 p-1 rounded">
                        Delete
                    </a>
                </td>
                <td>
                    <a href= "/admin/update-employee?id=<%=usermap._id%>" class="bg-green-700 text-white hover:bg-green-500 p-1 rounded">
                        Update
                    </a>
                </td>
            </tr>
           <%}%>
           <%}%>
           <%}%>
        </tbody>
    </div>
</table>





  
  
  
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="/js/home.js"></script>
